
$cor_topo_primaria: #4EB854;
$cor_topo_secundaria: #079426;
$cor_topo_terciaria: #0A7C23;
$font-family-1: Segoe UI;
$font-family-2: Epilogue;
$bg: #F6F6F6;
$cor_preta: #333;

$cor_bar_1: #e5233d;
$cor_bar_2: #14496b;
$cor_headline_vacinometro: #FFD229;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;400;900&family=Montserrat:wght@100;400;900&display=swap');


* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    outline: none;
    font-family: $font-family-1;
    transition: all .25s ease-in-out;
  
    &:hover, &:focus {
      text-decoration: none !important;
      outline: none;
    }
  }

.vacinometro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 350px;
    background: linear-gradient(203.56deg, #4EB854 -14.9%, #079426 58.91%);
    font-family: $font-family-1;
  
    @media (max-width: 660px) {
      flex-direction: column;
      height: auto;
    }
  
    &-display {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 315px;
      height: 315px;
      background-color: #A9CF49;
      border-radius: 50%;
  
      @media (max-width: 660px) {
        width: 200px;
        height: 200px;
        margin: 20px auto;
      }
  
      &-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 280px;
        background-color: $bg;
        border-radius: 50%;
  
        @media (max-width: 660px) {
          width: 180px;
          height: 180px;
        }
  
        &-dash {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 270px;
          height: 270px;
          border-radius: 50%;
          background: conic-gradient(
                          #FDF01E 0deg 45deg,
                          #0593D5 45deg 90deg,
                          #A9CF49 90deg 135deg,
                          transparent 135deg 180deg,
                          transparent 180deg 225deg,
                          #F8503C 225deg 270deg,
                          #FA725D 270deg 315deg,
                          #FECC24 315deg 360deg
          );
  
          @media (max-width: 660px) {
            width: 170px;
            height: 170px;
          }
  
          &-circle {
            width: 180px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $bg;
            border-radius: 50%;
            position: relative;
  
            @media (max-width: 660px) {
              width: 120px;
              height: 120px;
            }
  
            &-title {
              color: #0A7C23;
              display: block;
              text-align: center;
              font-size: 1.5rem;
              line-height: 1.25rem;
              transform: translateY(175%);
  
              @media (max-width: 660px) {
                font-size: 1rem;
                line-height: 1em;
                transform: translateY(150%);
              }
            }
  
            &-number {
              display: block;
              text-align: center;
              font-weight: bold;
              color: #A9CF49;
              font-size: 2.5rem;
              transform: translateY(165%);
  
              @media (max-width: 660px) {
                transform: translateY(175%);
                font-size: 1.5rem;
              }
            }
  
            &-needle {
              width: 250px;
              height: 250px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              position: absolute;
              transform: rotateZ(60deg);
              top: -65px;
              left: 30px;
              //animation: vacinometro 1s ease-out;
  
              @media (max-width: 660px) {
                top: -50px;
                left: -20px;
              }
  
              @media (max-width: 660px) {
                height: 180px;
              }
  
              &-agulha {
                display: block;
                width: 1px;
                height: 40px;
                background-color: black;
                border: 1px solid black;
                transform: translateY(6px);
  
                @media (max-width: 660px) {
                  height: 30px;
                }
              }
  
              &-ponta {
                display: block;
                width: 15px;
                height: 8px;
                border-radius: 6px 6px 0 0;
                background-color: #00A8F3;
                border: 1px solid black;
                transform: translateY(5px);
                box-shadow: inset -2px 2px 1px rgba(0, 0, 0, .25);
  
                @media (max-width: 660px) {
                  width: 10px;
                  height: 6px;
                }
              }
  
              &-corpo {
                display: block;
                width: 30px;
                height: 80px;
                background-color: #00A8F3;
                border: 1px solid black;
                border-radius: 10px 10px 0 0;
                transform: translateY(4px);
                box-shadow: inset -5px 4px 2px rgba(0, 0, 0, .25);
                position: relative;
  
                span {
                  position: absolute;
                  display: block;
                  width: 35%;
                  height: 2px;
                  border-radius: 0 2px 2px 0;
                  background-color: black;
  
                  &:before, &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    border-radius: 0 2px 2px 0;
                    background-color: black;
                  }
  
                  &:before {
                    transform: translateY(500%);
                  }
  
                  &:after {
                    transform: translateY(-500%);
                  }
  
                  &:first-child {
                    transform: translateY(1250%);
                  }
  
                  &:last-child {
                    transform: translateY(2750%);
                  }
                }
  
                @media (max-width: 660px) {
                  width: 20px;
                  height: 50px;
                }
              }
  
              &-linecorpo {
                display: block;
                width: 30px;
                height: 5px;
                background-color: #FFC44E;
                border: 1px solid black;
                transform: translateY(3px);
  
                @media (max-width: 660px) {
                  width: 20px;
                }
              }
  
              &-basecorpo {
                display: block;
                width: 40px;
                height: 5px;
                background-color: #D5DCE5;
                border: 1px solid black;
                border-radius: 2px;
                transform: translateY(2px);
  
                @media (max-width: 660px) {
                  width: 30px;
                }
              }
  
              &-cabo {
                display: block;
                width: 20px;
                height: 30px;
                background-color: #D5DCE5;
                border: 1px solid black;
                transform: translateY(1px);
                box-shadow: inset -3px 3px 1px rgba(0, 0, 0, .35);
  
                @media (max-width: 660px) {
                  width: 15px;
                  height: 15px;
                }
              }
  
              &-base {
                display: block;
                width: 30px;
                height: 5px;
                background-color: #B6BDCA;
                border: 1px solid black;
                border-radius: 2px;
  
                @media (max-width: 660px) {
                  width: 25px;
                }
              }
            }
          }
        }
      }
    }
  
    &-col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
  
      &-title {
        display: block;
        font-weight: bold;
        color: $bg;
        font-size: 3em;
        width: 100%;
  
        @media (max-width: 660px) {
          font-size: 1.5em;
          text-align: center;
        }
      }
  
      &-subtitle {
        display: block;
        font-weight: bold;
        color: $bg;
        font-size: 2.75em;
        width: 100%;
        font-family: $font-family-2;
        margin: 0;
        padding: 0;
  
        @media (max-width: 660px) {
          font-size: 1.25em;
          text-align: center;
        }
      }
  
      &-headline {
        display: block;
        font-weight: lighter;
        color: $cor_headline_vacinometro;
        font-size: 1.5em;
        width: 100%;
        line-height: 1em;
  
        @media (max-width: 660px) {
          font-size: 1em;
          text-align: center;
        }
      }
  
      &-line {
        display: block;
        font-weight: lighter;
        color: $cor_headline_vacinometro;
        font-size: 1.25em;
        width: 100%;
        line-height: 1em;
  
        @media (max-width: 660px) {
          font-size: .85em;
          text-align: center;
        }
      }
  
      small {
        display: block;
        font-weight: lighter;
        color: $bg;
        width: 100%;
      }
  
      @media (max-width: 660px) {
      }
    }
  }
  
  @keyframes vacinometro {
    0% {
      transform: rotateZ(-135deg);
      top: -30px;
      left: -65px;
    }
    50% {
      transform: rotateZ(0deg);
      top: -75px;
      left: -25px;
    }
    100% {
      transform: rotateZ(60deg);
      top: -65px;
      left: 30px;
    }
  }